[model]
name = unified.finetune
use_description = False
concatenate_description = False
# Should be one of (separate, concatenate)
knowledge_usage = concatenate

[dataset]
data_store_path = ./data

[seq2seq]
; PENTING: Di file induk ini, constructor TETAP 'meta_tuning'.
; 'meta_tuning' adalah script yang bertugas membaca [arg_paths] di bawah
; dan memanggil constructor 'indohitab' yang ada di config anak.
constructor = seq2seq_construction.meta_tuning
patience = 50

[arg_paths]
; BAGIAN KRUSIAL: Ini menghubungkan config induk ke config dataset Anda
; Pastikan nama kiri 'indohitab' sama dengan folder cache/task name
indohitab = META_TUNING/indohitab.cfg

[evaluate]
tool = metrics.meta_tuning.evaluator

[special_tokens]
less = ' <'
less_or_equal = ' <='

[bert]
location = ./pretrained_models/idt5-base